body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background: #fffc62;
  color: #57c4e2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  min-width: 400px;
}

.title {
  font-weight: 700;
  font-size: 25px;
}

.form-rounded {
  border-radius: 2em;
}

.back-card {
  border-radius: 40px !important;
}

.city-name {
  position: absolute;
  width: 100%;
}

.city-name p {
  font-size: 20px;
  font-weight: 100;
}

.city-name span {
  font-weight: 100;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  top: -60px;
}

.temp span {
  font-weight: 100;
  font-size: 18px;
  letter-spacing: -5px;
  white-space: nowrap;
}
.card-mid {
  line-height: 0.5;
}

.condition {
  line-height: 1em;
  font-weight: 100;
  font-size: 1em;
  text-transform: capitalize;
}
/* .high::before {
  content: '';
  background: rgb(20, 181, 245);
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
} */

/* .low::before {
  content: '';
  background: rgb(20, 181, 245);
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
} */
.icon-container {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: #202020;
}
.icon-container img {
  margin: auto;
}

.card-bottom {
  line-height: 0.5;
}
.card-bottom span {
  font-size: 12px;
}
.card-bottom p {
  font-size: 25px;
  font-weight: 100;
  letter-spacing: -2px;
}

.weekly {
  display: flex;
  max-width: 100vw;
  justify-content: center;
}
.day {
  min-width: 15vw;
}
.min-max {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.odd {
  background: rgb(251, 253, 141);
}
.min {
  font-weight: 400;
}
.btn {
  margin: 20px
}