:root {
  --blue: #57c4e2;
}

body {
  background: #fffc62;
  color: var(--blue);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GENERAL */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-right {
  justify-content: flex-end;
}

.rounded-element {
  border-radius: 2em;
}

/* INPUT */

.input {
  max-width: 300px;
  min-width: 200px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  left: calc(50vw + 80px);
  position: absolute;
  border: 1px solid #ced4da;
  transition: all .1s;
  background: var(--blue);
}

.submit:hover {
  transition: all .1s;
  background: #5197e7;
  border: 1px solid #ced4da;
}

.submit:disabled {
  transition: all .1s;
  background: var(--blue)59;
  border: 1px solid #ced4da;
}

/* HERO */
.weekly {
  display: flex;
  max-width: 100vw;
  justify-content: center;
  flex-wrap: wrap;
}

.main {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.main .info {
  text-align: left;
}

.main .conditions {
  max-width: 100px;
  word-spacing: 100vw;
  font-size: 18px;
}

.temperature {
  margin-top: -30px;
  margin-right: -8px;
}

.odd {
  background: rgb(251, 253, 141);
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.164);
}


.pending {
  position: flex;
  height: 0;
  padding-bottom: 25px;
  padding-top: 15px;
}