body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background: #fffc62;
  color: #57c4e2;
  margin: 0;
  padding: 0;
} 

.title {
  font-weight: 700;
  font-size: 25px;
}

.form-rounded {
  border-radius: 2em;
}
   
.main-title{
  margin-top: 30px; 
} 
.input-container{
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  
}
.input {
  max-width: 300px;
}
.search {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 70px;
  position: relative;
  left: -50px
} 
.weekly {
  display: flex;
  max-width: 100vw;
  justify-content: center; flex-wrap: wrap;
}
.day {
  min-width: 15vw; 
}
.min-max {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;  
}
.min {
  margin-left: 10px;
  font-weight: 400;  
}
.odd {
  background: rgb(251, 253, 141);
} 
.btn {
  border: 1px solid rgba(0, 0, 0, 0.164);
} 