:root {
  --blue: #57c4e2;
  --yellow: #FFFC4A;
}

body {
  background: #fffc62;
  color: var(--blue);
  margin: 0;
  margin-top: 100px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* GENERAL */
/* FLEX */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-right {
  justify-content: flex-end;
}

.flex-align-top {
  align-items: flex-start;
}

.flex-column {
  flex-direction: column;
}

/* BUTTONS */
.btn {
  border: 1px solid rgba(0, 0, 0, 0.164);
}

.disable-btn-style {
  border: none;
  background: transparent;
  color: inherit;
  outline: none !important;
}

.disable-btn-style:active {
  outline: none !important;
}

/* MISC */
.rounded-element {
  border-radius: 2em;
}

.border-bottom {
  border-bottom: 3px solid var(--blue) !important;
}



/* NAVBAR */
nav {
  top: 0;
  width: 100vw;
}

form {
  background: rgb(255, 252, 74);
}

form .spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



/* INPUT */
.input {
  max-width: 300px;
  min-width: 200px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  left: calc(50vw + 120px);
  position: absolute;
  border: 1px solid #ced4da;
  transition: all .1s;
}

.submit.form-control {
  background: var(--blue);
}

.submit.form-control:hover {
  transition: all .1s;
  background: #3aabca;
}

.submit.form-control:disabled {
  transition: all .1s;
  background: #8abefa;
  border: 1px solid #ced4da;
  color: white;
}

.form-control>svg {
  color: white;
}



/* MAIN */
.main {
  background: var(--yellow);
}

@media only screen and (max-width: 576px) {}

.odd {
  background: rgb(251, 253, 141);
}